[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.26.54"
pytest = "==7.1.2"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.14"
